@import "./core/variables";
@import "./core/breakpoints";

@import "./components/button";
@import "./components/small-card";
@import "./components/mini-card";

@import "./sections/header";
@import "./sections/showcase-top";
@import "./sections/showcase-bottom";
@import "./sections/featured-products";
@import "./sections/top-picks";
@import "./sections/our-speciality";
@import "./sections/two-for-price-of";
@import "./sections/highlight-sale";
@import "./sections/chosen-categories";
@import "./sections/webshop-info";
@import "./sections/footer";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: $font-weight-regular;
    color: $color-dark;
}