@import "./core/variables";
@import "./core/breakpoints";

@import "./components/button";
@import "./components/small-card";
@import "./components/mini-card";
@import "./components/header";
@import "./components/footer";
@import "./components/page-title";

@import "./sections/index/showcase-top";
@import "./sections/index/showcase-bottom";
@import "./sections/index/featured-products";
@import "./sections/index/top-picks";
@import "./sections/index/our-speciality";
@import "./sections/index/two-for-price-of";
@import "./sections/index/highlight-sale";
@import "./sections/index/chosen-categories";
@import "./sections/index/webshop-info";

@import "./sections/contacts/contact-form";

@import "./sections/product-page/current-offer-banner";
@import "./sections/product-page/product-overview";
@import "./sections/product-page/product-in-deph-info";
@import "./sections/product-page/related-products";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: $font-weight-regular;
    color: $color-dark;
}

// To change header background-color easier
.bg-white{
    background-color: $color-white;
}