// Core
@import "./assets/core/variables";
@import "./assets/core/breakpoints";
@import "./assets/core/big-container";

// Components
@import "./assets/components/button";
@import "./assets/components/small-card";
@import "./assets/components/mini-card";
@import "./assets/components/header";
@import "./assets/components/footer";
@import "./assets/components/page-title";

// Sections: index.html
@import "./assets/sections/index/showcase-top";
@import "./assets/sections/index/showcase-bottom";
@import "./assets/sections/index/featured-products";
@import "./assets/sections/index/top-picks";
@import "./assets/sections/index/our-speciality";
@import "./assets/sections/index/two-for-price-of";
@import "./assets/sections/index/highlight-sale";
@import "./assets/sections/index/chosen-categories";
@import "./assets/sections/index/webshop-info";

// Sections: contact.html
@import "./assets/sections/contact/contact-form";

// Sections: product.html
@import "./assets/sections/product/current-offer-banner";
@import "./assets/sections/product/product-overview";
@import "./assets/sections/product/product-in-deph-info";
@import "./assets/sections/product/related-products";

// Settings for the whole document
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: $font-weight-regular;
    color: $color-dark;
}

// To change header background-color and drop-shadow easier
.bg-white{
    background-color: $color-white;

    nav{
        .nav-icons{
            a{
                .circle{
                    filter: drop-shadow(0 2px 5px $color-grey-30);
                }
            }
        }
    }
}