.page-title{
    .container{
        display: flex;
        align-items: center;
        margin-top: 2rem;
        margin-bottom: 2rem;

        h1{
            font-weight: $font-weight-medium;
            font-size: $font-size-16;
            margin: 0;
            margin-left: 0.5rem;
            padding-top: 0.2rem;
        }

        a{
            font-weight: $font-weight-medium;
            text-decoration: none;
            color: $color-dark;
            padding-top: 0.2rem;
            margin-bottom: 4px;
            transition: 0.2s ease-in-out;
            
            &:hover{
                color: $color-theme;
                text-decoration: underline;
                
                i{
                    transition: 0.25s ease-in-out;
                    color: $color-theme;
                }
            }
            
            i{
                font-size: $font-size-20;
                margin-right: 0.5rem;
            }
        }

        i{
            margin-left: 0.4rem;
            padding-top: 0.2rem;
        }
    }
}