.highlight-sale{
    background-color: $color-grey-70;
    
    @include lg{
        background-color: $color-white;
    }
    .container{
        margin-top: 4rem;
        margin-bottom: 4rem;
        text-align: center;

        .content-holder{
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: $color-grey-70;
            width: 100%;
            padding-top: 4rem;
            padding-bottom: 4rem;

            h1{
                font-size: $font-size-45;
                font-weight: $font-weight-bold;
                color: $color-white;
                margin-bottom: 1rem;
            }
    
            h2{
                font-size: $font-size-20;
                font-weight: $font-weight-bold;
                color: $color-white;
                margin-bottom: 3rem;
            }
        }
        
    }
}