.showcase-top{
    .container-fluid{
        background-color: $color-grey-30;
        display: flex;
        justify-content: space-between;

        .text-holder{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

            h1{
                font-size: $font-size-65;
                font-weight: $font-weight-extrabold;
                margin-bottom: 2rem;
            }

            p{
                font-size: $font-size-20;
                margin-bottom: 2rem;
            }
        }
    }
}