.contact-form{
    .container{
        margin-top: 4rem;
        margin-bottom: 4rem;

        h1{
            font-size: $font-size-18;
            font-weight: $font-weight-bold;
            margin-bottom: 0rem;
        }

        form{

            .top-form{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr;
                gap: 2.5rem;
                margin-top: 1rem;

                .input-holder{
                    width: 100%;

                    input{
                        border: solid 1px $color-grey-40;
                        padding: 0.5rem 1rem;
                        width: 100%;

                        &:focus{
                            outline-color: $color-grey-40;
                        }
                    }
                }
            }
            
            .bottom-form{
                width: 100%;
                
                .textarea-holder{
                    textarea{
                        padding: 0.5rem 1rem;
                        line-height: normal;
                        border: solid 1px $color-grey-40;
                        resize: none;
                        width: 100%;
                        height: 10rem;
                        margin-top: 1rem;
                        
                        &:focus{
                            outline-color: $color-grey-40;
                        }
                    }
                }
                button{
                    margin-top: 1rem;
                }
                #successful-post{
                    margin-top: 1rem;
                }
            } 
        }
    }
}

// Styling the error-text
.error-text{
    margin: 0.5rem 0;
    color: $color-theme;
}

.error-input{
    color: $color-theme;
    border: solid 1px $color-theme !important;

    &:focus{
        outline-color: #fe8d8d !important;
    }
}